body{
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight:300;
}

hr{
    border:none;
    background-color:#7d97ad;
    height:4px;
}

p{
    font-size:25px;

}
.text-muted{
    color: #7d97ad;
}

.text-thin{
    font-weight:100;
}

.title-main{
    font-size:60px;
}

.title-logo{
    margin-top:20px;
    width:25%;
    height:25%;
}

.goodFonts{
    line-height:1.5em;
    font-size:18px;
}

.profile-picture{
    width:65%;
    height:65%;
    margin:auto;
}

.sub-title{
    font-size: 50px;
}
@media screen and (min-width: 445px) and (max-width: 990px){
    .project-center{
        width:400px;
        margin:auto;
    }
}

@media screen and (min-width: 990px){
    .title-center{
        text-align:right;
    }
}
@media screen and (min-width: 300px) and (max-width: 991px){
    .title-logo{
        margin:auto;
    }

    .sub-title{
        text-align:center;
        font-size:40px
    }

    .title-center{
        text-align:center
    }
}

@media screen and (min-width: 760px) and (max-width: 991px){
    .col-md-6
}

/*#featured{*/
    /*-webkit-transform: translate(0,0);*/
    /*-webkit-transition: transform 0.8s ease;*/
/*}*/