body{
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight:300;
}

hr{
    border:none;
    background-color:#7d97ad;
    height:4px;
}

.text-muted{
    color: #7d97ad;
}

.text-thin{
    font-weight:100;
}

.title-main{
    font-size:60px;
}

.title-logo{
    margin-top:20px;
    width:25%;
    height:25%;
}

@media screen and (min-width: 445px) and (max-width: 990px){
    .project-center{
        width:400px;
        margin:auto;
    }
}

@media screen and (min-width: 990px){
    .title-center{
        text-align:right;
    }
}
@media screen and (min-width: 300px) and (max-width: 991px){
    .title-logo{
        margin:auto;
    }

    .feature-center{
        text-align:center
    }

    .title-center{
        text-align:center
    }
}
